.csvGenerator {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--box);
    border-radius: 10px;
    overflow: auto;
  }
  
  .dropbox {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .dropbox label {
    margin-bottom: 5px;
    color: var(--text);
  }
  
  .dropbox select{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--border);
    background-color: var(--background);
    color: var(--text);
  }

  .inputbox > label{
    margin-left:5px;
    font-size:0.8rem;
    margin-bottom: 5px;
    color: var(--text);
  }

  .prefixInput{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--border);
    background-color: var(--background);
    color: var(--text);
  }

  .generateButton , .goBackButton{
    padding: 10px 20px;
    background-color: var(--ifm-color-primary);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .generateButton:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
  
  .generateButton:not(:disabled):hover {
    background-color: var(--ifm-color-primary-dark);
  }

  .clock{
    display: flex;
    font-size: 45px;
    justify-self: center;
    margin:10px auto;
  }

.timerComplete{
  display:flex;
  flex-direction: column;
  justify-content: center;
}


.pending {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  gap:10px;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s linear infinite;
}

.processing{
  margin:auto;
  font-size: 24px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}